<footer class="box-color-definitions-1 text-color-definitions-2">
  <div class="padding-top-bottom--up-3">
    <div class="container-default">
      <div class="medium--flex-bar--up-1 medium--flex-reverse">
        <div class="medium--flex-item-shrink margin-bottom--down-1 medium--margin-bottom--none">
          {{> 'social-links'}}
        </div>

        <div class="medium--flex-item">
          <small>
            &copy; Forever and ever, maybe 😅
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>
