<header class="box-color-definitions-1 text-color-definitions-2">
  <div class="padding-top-bottom--up-2 large--padding-top-bottom--up-3">
    <div class="container-default">
      <div class="large--flex-bar--up-1">
        <div class="large--flex-item">
          <div class="font-stack-heading font-size--up-5 large--font-size--up-10 line-height--none text-color-definitions-3 margin-bottom--down-1 large--margin-bottom--none">
            <a class="text-color-inherit" href="{{@site.url}}">
              Tom Blanchard.
            </a>
          </div>
        </div>

        <div class="large--flex-item-shrink">
          <nav>
            {{navigation}}
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
