<section class="box-color-definitions-3 text-color-definitions-2" id="blog">
  <div class="padding-top-bottom--up-3 large--padding-top-bottom--up-7">
    <div class="container-default">
      <div class="large--flex-bar--up-4 xlarge--flex-bar--up-6 large--flex-reverse">
        <div class="large--flex-item-shrink two-three large--six-thirteen box-center margin-bottom--up-2 large--margin-bottom--none">
          <div class="image-container">
            <img
              src="{{asset 'blog.svg'}}"
              alt="A pretty icon which is kinda what my blog looks like." />
          </div>
        </div>

        <div class="large--flex-item">
          <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
            <h2 class="text-color-inherit font-stack-base text-caps font-weight-700 font-size--0 large--font-size--up-4 line-height--none margin-bottom--down-2 large--margin-bottom--up-1" style="color: #65102B;">
              Blog
            </h2>

            <h3 class="text-color-inherit font-size--up-10 line-height--up-14 large--font-size--up-17 large--line-height--up-20 margin-bottom--0 large--margin-bottom--up-1">
              Code-related ramblings of a mad man
            </h3>

            <p class="font-size--inherit line-height--inherit margin-bottom--up-2 large--margin-bottom--up-4">
              I'm a firm believer in sharing what I know, especially when it
              comes to Shopify development, due to the official documentation
              leaving a lot to be desired. I write mostly about technical
              solutions I've come across, desiccating my side-projects and
              uncovering undocumented functionality I've discovered within Shopify.
            </p>

            <a class="button-secondary" href="{{@site.url}}/blog">
              <div class="flex-bar--down-3">
                <div class="flex-item-shrink">
                  Blog posts
                </div>

                <div class="flex-item-shrink">
                  <div class="font-size--down-4 large--font-size--down-2 line-height--none">
                    {{> 'svg-arrow-right'}}
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
