<section id="case-studies">
  <div class="padding-top-bottom--up-3 large--padding-top-bottom--up-7">
    <div class="container-default">
      <div class="large--flex-bar--up-6 large--flex-reverse">
        <div class="large--flex-item">
          <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
            <h2 class="text-color-inherit font-stack-base text-caps font-weight-700 font-size--0 large--font-size--up-4 line-height--none margin-bottom--down-2 large--margin-bottom--up-1" style="color: #E48FA8;">
              Case Studies
            </h2>

            <h3 class="text-color-inherit font-size--up-10 line-height--up-14 large--font-size--up-17 large--line-height--up-20 margin-bottom--0 large--margin-bottom--up-1">
              Projects I've been involved with
            </h3>

            <p class="font-size--inherit line-height--inherit text-color-definitions-3 margin-bottom--up-2 large--margin-bottom--none">
              Here's a selection of projects I've worked on over the years - mostly Shopify Plus builds where I handled all front-end development and Shopify integration. Some builds required a lot behind the scenes technical solutions which called for custom Shopify app development and bespoke API scripts to keep things running smoothly.
            </p>
          </div>
        </div>

        <div class="large--flex-item-shrink large--six-eleven">
          <div class="overflow-hidden">
            <div style="padding-right: 10px; padding-bottom: 10px;">
              <ul class="grid--up-4 margin-bottom-negative--up-3 margin-bottom--none">
                <li class="grid-item padding-bottom--up-3 one xlarge--one-two">
                  <article>
                    <h3 class="font-size--up-10 line-height--up-14 margin-bottom--none">
                      <a href="https://customplugs.com" target="_blank">
                        <span class="block text-color-definitions-1" style="box-shadow: 10px 10px;">
                          <span class="block box-color-definitions-3 text-color-definitions-2">
                            <span class="block padding-left--up-1 padding-right--down-2 padding-bottom--0 flex" style="height: 150px;">
                              <span class="flex-item flex-item-end">
                                Custom<br /> Plugs
                              </span>

                              <span class="block flex-item-shrink flex-item-end">
                                <span class="block font-size--up-6">
                                  {{> 'svg-arrow-right'}}
                                </span>
                              </span>
                            </span>
                          </span>
                        </span>
                      </a>
                    </h3>
                  </article>
                </li>

                <li class="grid-item padding-bottom--up-3 one xlarge--one-two">
                  <article>
                    <h3 class="font-size--up-10 line-height--up-14 margin-bottom--none">
                      <a href="https://beardbrand.com" target="_blank">
                        <span class="block text-color-definitions-1" style="box-shadow: 10px 10px;">
                          <span class="block box-color-definitions-3 text-color-definitions-2">
                            <span class="block padding-left--up-1 padding-right--down-2 padding-bottom--0 flex" style="height: 150px;">
                              <span class="flex-item flex-item-end">
                                Beardbrand
                              </span>

                              <span class="block flex-item-shrink flex-item-end">
                                <span class="block font-size--up-6">
                                  {{> 'svg-arrow-right'}}
                                </span>
                              </span>
                            </span>
                          </span>
                        </span>
                      </a>
                    </h3>
                  </article>
                </li>

                <li class="grid-item padding-bottom--up-3 one xlarge--one-two">
                  <article>
                    <h3 class="font-size--up-10 line-height--up-14 margin-bottom--none">
                      <a href="https://victoriabeckham.com" target="_blank">
                        <span class="block text-color-definitions-1" style="box-shadow: 10px 10px;">
                          <span class="block box-color-definitions-3 text-color-definitions-2">
                            <span class="block padding-left--up-1 padding-right--down-2 padding-bottom--0 flex" style="height: 150px;">
                              <span class="flex-item flex-item-end">
                                Victoria Beckham
                              </span>

                              <span class="block flex-item-shrink flex-item-end">
                                <span class="block font-size--up-6">
                                  {{> 'svg-arrow-right'}}
                                </span>
                              </span>
                            </span>
                          </span>
                        </span>
                      </a>
                    </h3>
                  </article>
                </li>

                <li class="grid-item padding-bottom--up-3 one xlarge--one-two">
                  <article>
                    <h3 class="font-size--up-10 line-height--up-14 margin-bottom--none">
                      <a href="https://frankocean.com" target="_blank">
                        <span class="block text-color-definitions-1" style="box-shadow: 10px 10px;">
                          <span class="block box-color-definitions-3 text-color-definitions-2">
                            <span class="block padding-left--up-1 padding-right--down-2 padding-bottom--0 flex" style="height: 150px;">
                              <span class="flex-item flex-item-end">
                                Frank Ocean
                              </span>

                              <span class="block flex-item-shrink flex-item-end">
                                <span class="block font-size--up-6">
                                  {{> 'svg-arrow-right'}}
                                </span>
                              </span>
                            </span>
                          </span>
                        </span>
                      </a>
                    </h3>
                  </article>
                </li>

                <li class="grid-item padding-bottom--up-3 one xlarge--one-two">
                  <article>
                    <h3 class="font-size--up-10 line-height--up-14 margin-bottom--none">
                      <a href="https://kinkycurlyyaki.com" target="_blank">
                        <span class="block text-color-definitions-1" style="box-shadow: 10px 10px;">
                          <span class="block box-color-definitions-3 text-color-definitions-2">
                            <span class="block padding-left--up-1 padding-right--down-2 padding-bottom--0 flex" style="height: 150px;">
                              <span class="flex-item flex-item-end">
                                Kinky<br /> Curly<br /> Yaki
                              </span>

                              <span class="block flex-item-shrink flex-item-end">
                                <span class="block font-size--up-6">
                                  {{> 'svg-arrow-right'}}
                                </span>
                              </span>
                            </span>
                          </span>
                        </span>
                      </a>
                    </h3>
                  </article>
                </li>

                <li class="grid-item padding-bottom--up-3 one xlarge--one-two">
                  <article>
                    <h3 class="font-size--up-10 line-height--up-14 margin-bottom--none">
                      <a href="https://spyguy.com" target="_blank">
                        <span class="block text-color-definitions-1" style="box-shadow: 10px 10px;">
                          <span class="block box-color-definitions-3 text-color-definitions-2">
                            <span class="block padding-left--up-1 padding-right--down-2 padding-bottom--0 flex" style="height: 150px;">
                              <span class="flex-item flex-item-end">
                                SpyGuy
                              </span>

                              <span class="block flex-item-shrink flex-item-end">
                                <span class="block font-size--up-6">
                                  {{> 'svg-arrow-right'}}
                                </span>
                              </span>
                            </span>
                          </span>
                        </span>
                      </a>
                    </h3>
                  </article>
                </li>

                <li class="grid-item padding-bottom--up-3 one xlarge--one-two">
                  <article>
                    <h3 class="font-size--up-10 line-height--up-14 margin-bottom--none">
                      <a href="https://carbonfibergear.com" target="_blank">
                        <span class="block text-color-definitions-1" style="box-shadow: 10px 10px;">
                          <span class="block box-color-definitions-3 text-color-definitions-2">
                            <span class="block padding-left--up-1 padding-right--down-2 padding-bottom--0 flex" style="height: 150px;">
                              <span class="flex-item flex-item-end">
                                Caron<br /> Fiber<br /> Gear
                              </span>

                              <span class="block flex-item-shrink flex-item-end">
                                <span class="block font-size--up-6">
                                  {{> 'svg-arrow-right'}}
                                </span>
                              </span>
                            </span>
                          </span>
                        </span>
                      </a>
                    </h3>
                  </article>
                </li>

                <li class="grid-item padding-bottom--up-3 one xlarge--one-two">
                  <article>
                    <h3 class="font-size--up-10 line-height--up-14 margin-bottom--none">
                      <a href="https://pensxpress.com" target="_blank">
                        <span class="block text-color-definitions-1" style="box-shadow: 10px 10px;">
                          <span class="block box-color-definitions-3 text-color-definitions-2">
                            <span class="block padding-left--up-1 padding-right--down-2 padding-bottom--0 flex" style="height: 150px;">
                              <span class="flex-item flex-item-end">
                                PensXpress
                              </span>

                              <span class="block flex-item-shrink flex-item-end">
                                <span class="block font-size--up-6">
                                  {{> 'svg-arrow-right'}}
                                </span>
                              </span>
                            </span>
                          </span>
                        </span>
                      </a>
                    </h3>
                  </article>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
