<section class="box-color-definitions-3 text-color-definitions-2" id="about">
  <div class="padding-top-bottom--up-3 large--padding-top-bottom--up-7">
    <div class="container-default">
      <div class="large--flex--up-4">
        <div class="large--flex-item-shrink large--four-eleven hide large--show">
          <div class="image-container">
            <img
              src="{{asset 'about.jpg'}}"
              alt="A shiny MacBook displaying some random Javascript code." />
          </div>
        </div>

        <div class="large--flex-item">
          <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
            <h2 class="text-color-inherit font-stack-base text-caps font-weight-700 font-size--0 large--font-size--up-4 line-height--none margin-bottom--down-2 large--margin-bottom--up-1" style="color: #65102B;">
              About
            </h2>

            <h3 class="text-color-inherit font-size--up-10 line-height--up-14 large--font-size--up-17 large--line-height--up-20 margin-bottom--0 large--margin-bottom--up-1">
              Full-stack Shopify developer for 6+ years
            </h3>

            <p class="font-size--inherit line-height--inherit margin-bottom--up-2 large--margin-bottom--up-4">
              I'm primarily a front-end developer with good back-end knowledge,
              specializing in crafting solutions via the Shopify platform. Themes,
              apps, data migrations, custom API scripts and custom integrations
              are my bread-and-butter and I'm happiest when I know I've made a
              substantial impact on how a business operates.
            </p>

            <div class="overflow-hidden">
              <div class="large--flex--up-1 margin-bottom-negative--up-2">
                <div class="large--flex-item padding-bottom--up-2">
                  <h3 class="text-color-inherit font-size--up-10 line-height--up-14 margin-bottom--0 large--margin-bottom--up-1">
                    History & expertise
                  </h3>

                  <p class="font-size--inherit line-height--inherit margin-bottom--none">
                    I've worked with many successful Shopify agencies and I love
                    working with existing teams to solve problems and provide
                    technical solutions. I also offer training to developers who
                    aren't so familiar with Shopify and do consultancy work for
                    when you need specific in-depth knowledge from my many years
                    of experience.
                  </p>
                </div>

                <div class="large--flex-item padding-bottom--up-2">
                  <h3 class="text-color-inherit font-size--up-10 line-height--up-14 margin-bottom--0 large--margin-bottom--up-1">
                    Shopify
                  </h3>

                  <p class="font-size--inherit line-height--inherit margin-bottom--none">
                    I hopped on the Shopify bandwagon early on, back in 2013 and
                    I've been 100% focused on the platform ever since. This
                    gives me a unique perspective because I've seen the platform
                    grow in real-time and my knowledge has expanded exponentially
                    with each project I've been involved with.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
