<section class="box-color-definitions-3 text-color-definitions-2" id="about">
  <div class="padding-top-bottom--up-3 large--padding-top-bottom--up-7">
    <div class="container-default">
      <div class="large--flex--up-4">
        <div class="large--flex-item-shrink large--four-eleven hide large--show">
          <div class="image-container">
            <img
              src="{{asset 'about.jpg'}}"
              alt="A shiny MacBook displaying some random Javascript code." />
          </div>
        </div>

        <div class="large--flex-item">
          <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
            <h2 class="text-color-inherit font-stack-base text-caps font-weight-700 font-size--0 large--font-size--up-4 line-height--none margin-bottom--down-2 large--margin-bottom--up-1" style="color: #65102B;">
              About
            </h2>

            <h3 class="text-color-inherit font-size--up-10 line-height--up-14 large--font-size--up-14 large--line-height--up-18 margin-bottom--0 large--margin-bottom--up-1">
              Helping Brands &amp; Agencies Build Fast, High-Performing Shopify Stores
            </h3>

            <p class="font-size--inherit line-height--inherit margin-bottom--up-2 large--margin-bottom--up-4">
              I’m a <strong>Shopify developer with over a decade of experience</strong>, specialising in <strong>custom themes</strong>, <strong>apps</strong>, <strong>integrations</strong>, and <strong>store migrations</strong>. I’ve been working exclusively with Shopify since 2013, watching the platform grow in real time, which gives me deep insight into what makes stores <strong>fast</strong>, <strong>reliable</strong>, and <strong>scalable</strong>.
            </p>

            <div class="overflow-hidden">
              <div class="large--flex--up-1 margin-bottom-negative--up-2">
                <div class="large--flex-item padding-bottom--up-2">
                  <h3 class="text-color-inherit font-size--up-10 line-height--up-14 margin-bottom--0 large--margin-bottom--up-1">
                    What I Do
                  </h3>

                  <p class="font-size--inherit line-height--inherit margin-bottom--none">
                    I build Shopify stores that are optimised for page speed, SEO, and accessibility, delivering fast, inclusive, and high-converting experiences. I work directly with brands or alongside digital agencies, providing senior-level expertise on complex projects. I also offer training and tutoring for developers and teams, helping them quickly get up to speed with Shopify development and best practices.
                  </p>
                </div>

                <div class="large--flex-item padding-bottom--up-2">
                  <h3 class="text-color-inherit font-size--up-10 line-height--up-14 margin-bottom--0 large--margin-bottom--up-1">
                    Why Work With Me
                  </h3>

                  <p class="font-size--inherit line-height--inherit margin-bottom--none">
                    I focus on creating custom Shopify solutions that are maintainable, scalable, and built to grow with your business. Whether you need a new build, a migration, or ongoing store optimisation, I provide reliable, detail-oriented development that saves time, improves performance, and helps your brand succeed online.
                  </p>

                  <div class="flex--down-1 large--flex--up-1 flex-wrap margin-top--up-1">
                    <div class="flex-item-shrink">
                      <a class="button-secondary" href="#contact">
                        <div class="flex-bar--down-3">
                          <div class="flex-item-shrink">
                            Let's Chat
                          </div>

                          <div class="flex-item-shrink">
                            <div class="font-size--down-4 large--font-size--down-2 line-height--none">
                              {{> 'svg-arrow-bottom'}}
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="flex-item-shrink">
                      <a class="button-secondary" href="https://calendly.com/yo-tomblanchard/30min">
                        <div class="flex-bar--down-3">
                          <div class="flex-item-shrink">
                            Book a Meeting
                          </div>

                          <div class="flex-item-shrink">
                            <div class="font-size--down-4 large--font-size--down-2 line-height--none">
                              {{> 'svg-arrow-right'}}
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
