<ul class="grid-bar--0 margin-bottom--none">
  <li class="grid-item">
    <a class="text-color-inherit" href="https://linkedin.com/in/tom-blanchard-7b906a163" target="_blank">
      <div class="font-size--up-8">
        {{> 'svg-linkedin'}}
      </div>
    </a>
  </li>

  <li class="grid-item">
    <a class="text-color-inherit" href="https://twitter.com/tomblanchardCSS" target="_blank">
      <div class="font-size--up-8">
        {{> 'svg-twitter'}}
      </div>
    </a>
  </li>

  <li class="grid-item">
    <a class="text-color-inherit" href="http://github.com/tomblanchard" target="_blank">
      <div class="font-size--up-8">
        {{> 'svg-github'}}
      </div>
    </a>
  </li>
</ul>
