{{!< default}}

{{#post}}
  <div class="padding-top-bottom--up-3 large--padding-top-bottom--up-7">
    <div class="container-default">
      <article class="box-center" style="max-width: 875px;">
        <header class="margin-bottom--down-1 large--margin-bottom--up-1">
          <div class="flex-vertical-reverse">
            <h1 class="font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 text-color-definitions-3 margin-bottom--none">
              {{title}}
            </h1>
          </div>
        </header>

        <div class="rte">
          {{content}}
        </div>
      </article>
    </div>
  </div>
{{/post}}
