/*============================================================================
  #Variables
==============================================================================*/

:root {
  --container-default-width: 1300px;

  --typography-base-font-family: 'Poppins', sans-serif;
  --typography-base-font-size: 16px;
  --typography-base-line-height: var(--font-size--up-6);
  --typography-base-text-transform: none;
  --typography-base-letter-spacing: 0;

  --typography-heading-font-family: 'Alfa Slab One', cursive;

  --typography-h1-font-size: var(--font-size--up-12);
  --typography-h1-line-height: var(--font-size--up-15);
  --typography-h1-text-transform: none;
  --typography-h1-letter-spacing: 0;

  --typography-h2-font-size: var(--font-size--up-10);
  --typography-h2-line-height: var(--font-size--up-13);
  --typography-h2-text-transform: none;
  --typography-h2-letter-spacing: 0;

  --typography-h3-font-size: var(--font-size--up-8);
  --typography-h3-line-height: var(--font-size--up-11);
  --typography-h3-text-transform: none;
  --typography-h3-letter-spacing: 0;

  --typography-h4-font-size: var(--font-size--up-6);
  --typography-h4-line-height: var(--font-size--up-9);
  --typography-h4-text-transform: none;
  --typography-h4-letter-spacing: 0;

  --typography-h5-font-size: var(--font-size--up-4);
  --typography-h5-line-height: var(--font-size--up-8);
  --typography-h5-text-transform: none;
  --typography-h5-letter-spacing: 0;

  --typography-h6-font-size: var(--font-size--up-2);
  --typography-h6-line-height: var(--font-size--up-8);
  --typography-h6-text-transform: none;
  --typography-h6-letter-spacing: 0;

  --typography-buttons-font-size: var(--font-size--0);
  --typography-buttons-line-height: var(--font-size--up-6);
  --typography-buttons-font-size-mobile: var(--font-size--down-2);
  --typography-buttons-line-height-mobile: var(--font-size--up-4);
  --typography-buttons-text-transform: normal;
  --typography-buttons-letter-spacing: 0;

  --colors-definitions-1: #000;
  --colors-definitions-2: #FFF;
  --colors-definitions-3: #CC2255;
  --colors-definitions-4: #808080;

  --colors-base-text: var(--colors-definitions-1);
  --colors-base-background: var(--colors-definitions-2);
  --colors-base-headings: var(--colors-definitions-1);
  --colors-base-links: var(--colors-definitions-1);
  --colors-base-links-hover: var(--colors-definitions-3);

  --colors-button-primary-text: var(--colors-definitions-2);
  --colors-button-primary-background: var(--colors-definitions-3);
  --colors-button-primary-border: var(--colors-definitions-3);
  --colors-button-primary-text-hover: var(--colors-definitions-2);
  --colors-button-primary-background-hover: var(--colors-definitions-1);
  --colors-button-primary-border-hover: var(--colors-definitions-1);
  --colors-button-primary-text-disabled: var(--colors-definitions-2);
  --colors-button-primary-background-disabled: var(--colors-definitions-4);
  --colors-button-primary-border-disabled: var(--colors-definitions-4);

  --colors-button-secondary-text: var(--colors-definitions-2);
  --colors-button-secondary-background: var(--colors-definitions-1);
  --colors-button-secondary-border: var(--colors-definitions-1);
  --colors-button-secondary-text-hover: var(--colors-definitions-2);
  --colors-button-secondary-background-hover: var(--colors-definitions-3);
  --colors-button-secondary-border-hover: var(--colors-definitions-3);
  --colors-button-secondary-text-disabled: var(--colors-definitions-2);
  --colors-button-secondary-background-disabled: var(--colors-definitions-4);
  --colors-button-secondary-border-disabled: var(--colors-definitions-4);

  --colors-text-input-placeholder: var(--colors-definitions-4);
  --colors-text-input-text: var(--colors-definitions-1);
  --colors-text-input-background: var(--colors-definitions-2);
  --colors-text-input-border: var(--colors-definitions-1);

  --misc-transitions-easing: 0s;
  --misc-border-radius: 0;
}

$typography-ratio: 1.067; // Minor second
$spacing-ratio: 1.333; // Perfect fourth

$colors: (
  definitions-1,
  definitions-2,
  definitions-3,
  definitions-4
);

$xsmall: 320px;
$small: 480px;
$medium: 768px;
$large: 1024px;

$breakpoints: (
  'xsmall' '(max-width: #{$xsmall})',
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$small + 1px})',
  'medium-down' '(max-width: #{$medium})',
  'large' '(min-width: #{$medium + 1px})',
  'large-down' '(max-width: #{$large})',
  'xlarge' '(min-width: #{$large + 1px})'
);

$font-stacks: (base, heading);

$containers: (default);

$container-padding-x: var(--spacing--up-2);

$border-radius-default: var(--misc-border-radius);
$border-radius-full: 9999px;

$border-radiuses: (default, $border-radius-default)
                  (full, $border-radius-full);

$input-padding-y: var(--spacing--down-1);
$input-padding-x: var(--spacing--0);
$input-padding-y-mobile: var(--spacing--down-2);
$input-padding-x-mobile: var(--spacing--0);
$input-border: 1px solid;
$input-border-radius: $border-radius-default;

$buttons: (primary, secondary);
$button-padding-x: var(--spacing--0);
$button-padding-x-mobile: var(--spacing--down-1);
$button-font-weight: bold;
$button-border: 1px solid;
$button-border-radius: $border-radius-default;

/*============================================================================
  #Mixins
==============================================================================*/

@mixin media-query($media-query) {
  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $expression: nth($breakpoint, 2);

    @if $media-query == $name and $expression {
      @media only screen and #{$expression} {
        @content;
      }
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
    str-replace(str-slice($string, $index +
    str-length($search)), $search, $replace);
  }
  @return $string;
}

@function svg-url($svg){
  $encoded:'';
  $slice: 2000;
  $index: 0;
  $loops: ceil(str-length($svg)/$slice);
  @for $i from 1 through $loops {
    $chunk: str-slice($svg, $index, $index + $slice - 1);
    $chunk: str-replace($chunk,'"','\'');
    $chunk: str-replace($chunk,'<','%3C');
    $chunk: str-replace($chunk,'>','%3E');
    $chunk: str-replace($chunk,'&','%26');
    $chunk: str-replace($chunk,'#','%23');
    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }
  @return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

@mixin clearfix() {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@mixin input-reset() {
  display: inline;
  text-align: inherit;
  background: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: inherit;
  overflow: visible;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::-ms-clear {
    display: none;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

@mixin input() {
  @include input-reset;
  display: inline-block;
  vertical-align: middle;
  padding: $input-padding-y $input-padding-x;
  border: $input-border;
  border-radius: $input-border-radius;
  color: var(--colors-text-input-text);
  background-color: var(--colors-text-input-background);
  border-color: var(--colors-text-input-border);

  @include placeholder {
    color: var(--colors-text-input-placeholder);
  }

  @include media-query(medium-down) {
    padding: $input-padding-y-mobile $input-padding-x-mobile;
  }
}

@mixin input-border() {
  border: $input-border;
  border-color: var(--colors-text-input-border);
}

@mixin button-reset() {
  @include input-reset();

  &:before {
    display: none;
  }
}

/*============================================================================
  #Reset
==============================================================================*/

@mixin reset() {
  /*! purgecss start ignore */
    //
    // Layout
    //

    *, :before, :after {
      box-sizing: border-box;
    }

    body, h1, h2, h3, h4, h5, h6, p, blockquote, figure, ol, ul {
      margin: 0;
      padding: 0;
    }

    img {
      height: auto;
      border: 0;
    }

    li {
      display: block;
    }

    //
    // Type
    //

    html {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    h1, h2, h3, h4, h5, h6 {
      font-size: inherit;
      // Optimize legibility on headers only to
      // prevent performance issues from applying
      // it to large portions of text.
      text-rendering: optimizeLegibility;
      font-weight: normal;
    }

    a {
      background-color: transparent;
      text-decoration: none;
      color: inherit;

      &:active,
      &:hover {
        outline: 0;
      }
    }

    strong {
      font-weight: bold;
    }
    em {
      font-style: italic;
    }

    sup {
      position: relative;
      top: var(--spacing-negative--down-6);
      vertical-align: top;
      font-size: var(--font-size--down-2);
    }

    //
    // Forms
    //

    input,
    textarea,
    select {
      display: block;
      width: 100%;

      &[disabled] {
        cursor: default;
      }
    }

    label {
      display: inline-block;
    }

    label > * {
      pointer-events: none;
    }

    input::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    input[type=radio] {
      -webkit-appearance: radio;
    }

    input[type=checkbox] {
      -webkit-appearance: checkbox;
    }

    input[type="checkbox"], input[type="radio"] {
      display: inline;
      margin-bottom: 0;

      // prevent padding set on the input element
      // from applying to radio buttons or checkboxes
      // on iOS Safari
      padding: 0 !important;
    }

    input[type="search"] {
      -webkit-appearance: textfield;

      &::-webkit-search-decoration {
        -webkit-appearance: none;
      }
    }

    input[type="submit"], button {
      cursor: pointer;
    }

    input[type="image"] {
      border: none;
    }
  /*! purgecss end ignore */
}

@include reset();

/*============================================================================
  #Base
==============================================================================*/

@mixin base() {
  /*! purgecss start ignore */
    :root {
      --font-size--0: var(--typography-base-font-size);
      --font-size--up-1: calc(var(--font-size--0) * #{$typography-ratio});
      --font-size--down-1: calc(var(--font-size--0) / #{$typography-ratio});

      --spacing--0: var(--typography-base-font-size);
      --spacing--up-1: calc(var(--spacing--0) * #{$spacing-ratio});
      --spacing--down-1: calc(var(--spacing--0) / #{$spacing-ratio});

      --spacing-negative--0: calc(-1 * var(--typography-base-font-size));
      --spacing-negative--up-1: calc(var(--spacing-negative--0) * #{$spacing-ratio});
      --spacing-negative--down-1: calc(var(--spacing-negative--0) / #{$spacing-ratio});

      @for $num from 2 through 25 {
        --font-size--up-#{$num}: calc(var(--font-size--up-#{$num - 1}) * #{$typography-ratio});
        --font-size--down-#{$num}: calc(var(--font-size--down-#{$num - 1}) / #{$typography-ratio});

        --spacing--up-#{$num}: calc(var(--spacing--up-#{$num - 1}) * #{$spacing-ratio});
        --spacing--down-#{$num}: calc(var(--spacing--down-#{$num - 1}) / #{$spacing-ratio});

        --spacing-negative--up-#{$num}: calc(var(--spacing-negative--up-#{$num - 1}) * #{$spacing-ratio});
        --spacing-negative--down-#{$num}: calc(var(--spacing-negative--down-#{$num - 1}) / #{$spacing-ratio});
      }
    }

    html, body {
      background-color: var(--colors-base-background);
      scroll-behavior: smooth;
    }

    svg {
      display: block;
      width: 1em;
      height: 1em;
      fill: currentColor;
    }
  /*! purgecss end ignore */
}

@include base();

/*============================================================================
  #Animation
==============================================================================*/

@mixin animation() {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .fade-in {
    animation: fade-in var(--misc-transitions-easing) both;
  }
  .fade-out {
    animation: fade-in var(--misc-transitions-easing) both;
  }
}

@include animation();

/*============================================================================
  #Layout
==============================================================================*/

@mixin layout() {
  .clearfix {
    &:after {
      content: " ";
      display: block;
      clear: both;
    }
  }

  .box-center {
    margin-right: auto;
    margin-left: auto;
  }

  .invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .overflow-hidden {
    overflow: hidden;
  }
  @include media-query(large) {
    .large--overflow-hidden {
      overflow: hidden;
    }
  }

  .nowrap {
    white-space: nowrap;
  }

  .large--nowrap {
    @include media-query(large) {
      white-space: nowrap;
    }
  }

  .scroll-horizontal {
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .scroll-vertical {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .image-container {
    display: block;
    font-size: 0;
    line-height: 1;

    img {
      width: 100%;
    }
  }
  .image-placeholder {
    display: block;
    font-size: 0;
    line-height: 1;
    background: var(--colors-placeholder);
  }

  .video-container {
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  @each $value in baseline, middle, top, bottom {
    .align-#{$value} {
      vertical-align: $value;
    }
  }

  .height-full {
    height: 100%;
  }
  .height-full\! {
    height: 100% !important;
  }
  .height-full-vh {
    height: 100%;
  }
  .height-full-vh\! {
    height: 100vh !important;
  }
  .height--auto {
    height: auto;
  }
  .height--auto\! {
    height: auto !important;
  }
  @include media-query(medium-down) {
    .medium-down--height-full {
      height: 100%;
    }
    .medium-down--height-full\! {
      height: 100% !important;
    }
    .medium-down--height-full-vh {
      height: 100vh;
    }
    .medium-down--height-full-vh\! {
      height: 100vh !important;
    }
    .medium-down--height--auto {
      height: auto;
    }
    .medium-down--height--auto\! {
      height: auto !important;
    }
  }
  @include media-query(large) {
    .large--height-full {
      height: 100%;
    }
    .large--height-full\! {
      height: 100% !important;
    }
    .large--height-full-vh {
      height: 100vh;
    }
    .large--height-full-vh\! {
      height: 100vh !important;
    }
    .large--height--auto {
      height: auto;
    }
    .large--height--auto\! {
      height: auto !important;
    }
  }

  .background-full {
    background-size: cover;
    background-position: center center;
  }
  .background-full-top {
    background-size: cover;
    background-position: top center;
  }
  .object-full {
    object-fit: cover;
    object-position: center center;
  }
  .object-full-top {
    object-fit: cover;
    object-position: top center;
  }

  .no-pointer {
    pointer-events: none;
  }
  .auto-pointer {
    pointer-events: auto;
  }
  @include media-query(large) {
    .large--no-pointer {
      pointer-events: none;
    }
  }

  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}

@include layout();

/*============================================================================
  #Typography
==============================================================================*/

@mixin typography() {
  /*! purgecss start ignore */
    html {
      font-size: var(--typography-base-font-size);
      line-height: var(--typography-base-line-height);
      text-transform: var(--typography-base-text-transform);
      letter-spacing: var(--typography-base-letter-spacing);
    }

    body, input, textarea, select, button {
      font-family: var(--typography-base-font-family);
      font-size: var(--typography-base-font-size);
      line-height: var(--typography-base-line-height);
      color: var(--colors-base-text);
    }

    h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, hr, input, textarea, select, button {
      margin-bottom: var(--typography-base-font-size);
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: var(--typography-heading-font-family);
      color: var(--colors-base-headings);
    }

    h1 {
      font-size: var(--typography-h1-font-size);
      line-height: var(--typography-h1-line-height);
      text-transform: var(--typography-h1-text-transform);
      letter-spacing: var(--typography-h1-letter-spacing);
    }

    h2 {
      font-size: var(--typography-h2-font-size);
      line-height: var(--typography-h2-line-height);
      text-transform: var(--typography-h2-text-transform);
      letter-spacing: var(--typography-h2-letter-spacing);
    }

    h3 {
      font-size: var(--typography-h3-font-size);
      line-height: var(--typography-h3-line-height);
      text-transform: var(--typography-h3-text-transform);
      letter-spacing: var(--typography-h3-letter-spacing);
    }

    h4 {
      font-size: var(--typography-h4-font-size);
      line-height: var(--typography-h4-line-height);
      text-transform: var(--typography-h4-text-transform);
      letter-spacing: var(--typography-h4-letter-spacing);
    }

    h5 {
      font-size: var(--typography-h5-font-size);
      line-height: var(--typography-h5-line-height);
      text-transform: var(--typography-h5-text-transform);
      letter-spacing: var(--typography-h5-letter-spacing);
    }

    h6 {
      font-size: var(--typography-h6-font-size);
      line-height: var(--typography-h6-line-height);
      text-transform: var(--typography-h6-text-transform);
      letter-spacing: var(--typography-h6-letter-spacing);
    }

    p, ul, ol, blockquote, label {
      font-size: var(--typography-base-font-size);
      line-height: var(--typography-base-line-height);
    }

    a {
      transition: var(--misc-transitions-easing);
      color: var(--colors-base-links);

      &:hover {
        color: var(--colors-base-links-hover);
      }
    }

    hr {
      margin-top: 0;
    }

    small {
      font-size: var(--font-size--down-1);
    }
  /*! purgecss end ignore */

  .cursor-pointer {
    cursor: pointer;
  }
  .cursor-default {
    cursor: default;
  }

  .text-hidden {
    visibility: hidden;
  }
  .text-justify {
    text-align: justify;
  }
  .text-caps {
    text-transform: uppercase;
  }
  .text-regular-case {
    text-transform: none;
  }
  .text-underline,
  .links-text-underline a {
    text-decoration: underline;
  }
  .text-line-through {
    text-decoration: line-through;
  }

  .font-italic {
    font-style: italic;
  }
}

@include typography();


/*============================================================================
  #Forms
==============================================================================*/

@mixin forms() {
  .input-reset {
    @include input-reset;
  }

  .input {
    @include input;
  }

  .input-border {
    @include input-border();
  }

  @each $button in $buttons {
    .button-#{$button} {
      @include input;
      padding-left: $button-padding-x;
      padding-right: $button-padding-x;
      font-weight: $button-font-weight;
      text-align: center;
      border-radius: $button-border-radius;
      border: $button-border;
      color: var(--colors-button-#{$button}-text);
      background-color: var(--colors-button-#{$button}-background);
      border-color: var(--colors-button-#{$button}-border);
      font-size: var(--typography-buttons-font-size);
      line-height: var(--typography-buttons-line-height);
      text-transform: var(--typography-buttons-text-transform);
      letter-spacing: var(--typography-buttons-letter-spacing);

      &:hover {
        color: var(--colors-button-#{$button}-text-hover);
        background-color: var(--colors-button-#{$button}-background-hover);
        border-color: var(--colors-button-#{$button}-border-hover);
      }

      &[disabled],
      &.is-disabled {
        color: var(--colors-button-#{$button}-text-disabled);
        background-color: var(--colors-button-#{$button}-background-disabled);
        border-color: var(--colors-button-#{$button}-border-disabled);
      }

      @include media-query(medium-down) {
        padding-left: $button-padding-x-mobile;
        font-size: var(--typography-buttons-font-size-mobile);
        line-height: var(--typography-buttons-line-height-mobile);
      }
    }
  }
}

@include forms();

/*============================================================================
  #RTE
==============================================================================*/

@mixin rte() {
  /*! purgecss start ignore */
    .rte {
      > :last-child {
        margin-bottom: 0;
      }

      p,
      blockquote,
      ul, ol,
      hr,
      table,
      iframe,
      pre {
        font: inherit;
        margin-bottom: var(--spacing--up-3);
      }

      h1, h2, h3, h4, h5, h6, {
        color: var(--colors-definitions-3);
        margin-bottom: var(--spacing--up-3);
      }

      a {
        text-decoration: underline;
        text-decoration-color: var(--colors-definitions-3);
      }

      img,
      iframe {
        display: block;
        width: 100%;
      }

      ul,
      ol {
        padding: 0;
        padding-left: var(--spacing--up-1);
      }

      li {
        display: list-item;
        list-style-position: outside;

        + li {
          margin-top: var(--spacing--down-2);
        }
      }

      code {
        border: 1px solid #DADADA;
        background-color: #F6F6F6;
        color: #e01e5a;
        font-family: Monaco, Menlo, Consolas, Courier New, monospace;
        font-size: 12px;
        line-height: 1.50001;
        font-variant-ligatures: none;
        white-space: pre;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: normal;
        -webkit-tab-size: 4;
        -moz-tab-size: 4;
        tab-size: 4;
        padding: 2px 3px 1px;
        border-radius: 3px;
      }

      pre:not(_) {
        border-radius: 0;
        background: #272822;
        padding: var(--spacing--0);
        margin: 0;
        margin-bottom: var(--spacing--up-3);
        border-left: 5px solid var(--colors-definitions-3);
        overflow: auto;

        code {
          border: 0;
          background: none;
          padding: 0;
          border-radius: 0;
          color: #FFF;
          white-space: pre;
        }
      }
    }
  /*! purgecss end ignore */
}

@include rte();

/*============================================================================
  #Grid
==============================================================================*/

@mixin grid() {
  @include clearfix;
  list-style: none;
  font-size: 0;

  > .grid-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    font-size: var(--typography-base-font-size);
    line-height: var(--typography-base-line-height);
  }
}

@mixin grid-bar() {
  @include clearfix;
  list-style: none;
  font-size: 0;

  > .grid-item {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    font-size: var(--typography-base-font-size);
    line-height: var(--typography-base-line-height);
  }
}

@mixin grid-uniform() {
  @include clearfix;
  list-style: none;
  font-size: 0;

  > .grid-item {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    font-size: var(--typography-base-font-size);
    line-height: var(--typography-base-line-height);
  }
}

@mixin grid-gutter($num) {
  $margin-left: var(--spacing-negative--0);
  $padding-left: var(--spacing--0);

  @if $num > 0 {
    $margin-left: var(--spacing-negative--up-#{$num});
    $padding-left: var(--spacing--up-#{$num});
  }

  @if $num < 0 {
    $margin-left: var(--spacing-negative--down#{$num});
    $padding-left: var(--spacing--down#{$num});
  }

  margin-left: $margin-left;

  > .grid-item {
    padding-left: $padding-left;
  }
}

@mixin grid-helpers($breakpoint: "") {

  .grid-item img {
    max-width: 100%;
  }

  .#{$breakpoint}grid {
    @include grid();
  }

  .#{$breakpoint}grid-reverse {
    direction: rtl;
    text-align: left;

    > .grid-item {
      direction: ltr;
      text-align: left;
    }
  }

  .#{$breakpoint}grid-bar {
    @include grid-bar();
  }

  .#{$breakpoint}grid-bar-reverse {
    direction: rtl;

    > .grid-item {
      direction: ltr;
    }
  }

  .#{$breakpoint}grid-uniform {
    @include grid-uniform();
  }

  .#{$breakpoint}grid--0 {
    @include grid();
    @include grid-gutter(0);
  }
  .#{$breakpoint}grid-bar--0 {
    @include grid-bar();
    @include grid-gutter(0);
  }
  .#{$breakpoint}grid-uniform--0 {
    @include grid-uniform();
    @include grid-gutter(0);
  }

  @for $n from 1 through 8 {
    .#{$breakpoint}grid--up-#{$n} {
      @include grid();
      @include grid-gutter($n);
    }
    .#{$breakpoint}grid-bar--up-#{$n} {
      @include grid-bar();
      @include grid-gutter($n);
    }
    .#{$breakpoint}grid-uniform--up-#{$n} {
      @include grid-uniform();
      @include grid-gutter($n);
    }

    .#{$breakpoint}grid--down-#{$n} {
      @include grid();
      @include grid-gutter(-$n);
    }
    .#{$breakpoint}grid-bar--down-#{$n} {
      @include grid-bar();
      @include grid-gutter(-$n);
    }
    .#{$breakpoint}grid-uniform--down-#{$n} {
      @include grid-uniform();
      @include grid-gutter(-$n);
    }
  }
}

@mixin grid-column-helpers($breakpoint: "") {
  $columns: (1,one) (2,two) (3,three) (4,four) (5,five) (6,six) (7,seven) (8,eight) (9,nine) (10,ten) (11,eleven) (12,twelve) (13,thirteen) (14,fourteen) (15,fifteen) (16,sixteen);

  .one-max {
    max-width: 100%;
  }

  .#{$breakpoint}auto {
    width: auto;
  }

  .#{$breakpoint}one,
  .#{$breakpoint}child-one > * {
    width: 100%;
  }

  @each $column in $columns {
    $column-count: nth($column, 1);
    $column-class: nth($column, 2);

    @each $num in $columns {
      $num-value: nth($num, 1);
      $num-class: nth($num, 2);

      @if $column-count > $num-value {
        .#{$breakpoint}#{$num-class}-#{$column-class} {
          width: 100/$column-count * $num-value * 1%;
        }
      }
    }
  }
}

@include grid-helpers();
@include grid-column-helpers();

/*============================================================================
  #Display helpers
==============================================================================*/

@mixin display-helpers($breakpoint: "") {
  .#{$breakpoint}block {
    display: block;
  }
  .#{$breakpoint}inline {
    display: inline;
  }
  .#{$breakpoint}inline-block {
    display: inline-block;
  }
  .#{$breakpoint}inline-block-middle {
    display: inline-block;
    vertical-align: middle;
  }

  .#{$breakpoint}table {
    display: table;
  }
  .#{$breakpoint}table-row {
    display: table-row;
  }
  .#{$breakpoint}table-cell {
    display: table-cell;
  }
}

@include display-helpers();

@each $breakpoint in $breakpoints {
  $keyword: nth($breakpoint, 1);
  $media-query: nth($breakpoint, 2);

  @media only screen and #{$media-query} {
    @include display-helpers("#{$keyword}--");
  }
}

/*============================================================================
  #Flexbox
==============================================================================*/

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex($grow: 1, $shrink: null, $basis: null) {
  $fg-boxflex: $grow;

  @if type-of($grow) == 'list' {
    $fg-boxflex: nth($grow, 1);
  }

  -webkit-box-flex: $fg-boxflex;
  -webkit-flex: $grow $shrink $basis;
  -moz-box-flex: $fg-boxflex;
  -moz-flex: $grow $shrink $basis;
  -ms-flex: $grow $shrink $basis;
  flex: $grow $shrink $basis;
}

@mixin inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin inline-flex-important {
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -moz-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: none;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}

@mixin flex-flow($values: (row nowrap)) {
  -webkit-flex-flow: $values;
  -moz-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

@mixin order($int: 0) {
  -webkit-box-ordinal-group: $int + 1;
  -webkit-order: $int;
  -moz-order: $int;
  -ms-flex-order: $int;
  order: $int;
}

@mixin flex-grow($int: 0) {
  -webkit-box-flex: $int;
  -webkit-flex-grow: $int;
  -moz-flex-grow: $int;
  -ms-flex-positive: $int;
  flex-grow: $int;
}

@mixin flex-shrink($int: 1) {
  -webkit-flex-shrink: $int;
  -moz-flex-shrink: $int;
  -ms-flex-negative: $int;
  flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
  -webkit-flex-basis: $value;
  -moz-flex-basis: $value;
  -ms-flex-preferred-size: $value;
  flex-basis: $value;
}

@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}

@mixin align-self($value: auto) {
  -webkit-align-self: $value;
  -moz-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}

@mixin align-content($value: stretch) {
  -webkit-align-content: $value;
  -moz-align-content: $value;
  @if $value == flex-start {
    -ms-flex-line-pack: start;
  } @else if $value == flex-end {
    -ms-flex-line-pack: end;
  } @else {
    -ms-flex-line-pack: $value;
  }
  align-content: $value;
}

@mixin flex-gutter($num) {
  $margin-left: var(--spacing-negative--0);
  $padding-left: var(--spacing--0);

  @if $num > 0 {
    $margin-left: var(--spacing-negative--up-#{$num});
    $padding-left: var(--spacing--up-#{$num});
  }

  @if $num < 0 {
    $margin-left: var(--spacing-negative--down#{$num});
    $padding-left: var(--spacing--down#{$num});
  }

  margin-left: $margin-left;

  > [class*=flex-item] {
    padding-left: $padding-left;
  }
}

@mixin flexbox-helpers($breakpoint: "") {
  .#{$breakpoint}flex-item {
    @include flex(1);
  }
  .#{$breakpoint}flex-item-shrink {
    @include flex-shrink(1);
    flex-basis: auto;
    flex-grow: 0;
  }
  .#{$breakpoint}flex-item-center {
    @include align-self(center);
  }
  .#{$breakpoint}flex-item-end {
    @include align-self(flex-end);
  }

  @for $num from 2 through 12 {
    .#{$breakpoint}flex-item--#{$num} {
      @include flex($num);
    }
  }

  @for $num from 1 through 3 {
    .#{$breakpoint}flex-order--#{$num} {
      @include order($num);
    }
  }

  .#{$breakpoint}flex {
    @include flexbox;
  }
  .#{$breakpoint}flex-wrap {
    @include flex-wrap(wrap);
  }
  .#{$breakpoint}flex-inline {
    @include inline-flex;
  }
  .#{$breakpoint}flex-inline\! {
    @include inline-flex-important;
  }
  .#{$breakpoint}flex-reverse {
    @include flexbox;
    @include flex-direction(row-reverse);
  }
  .#{$breakpoint}flex-vertical {
    @include flexbox;
    @include flex-direction(column);
  }
  .#{$breakpoint}flex-vertical-reverse {
    @include flexbox;
    @include flex-direction(column-reverse);
  }
  .#{$breakpoint}flex-bar {
    @include flexbox;
    @include align-items(center);
  }
  .#{$breakpoint}flex-center {
    @include flexbox;
    @include justify-content(center);
  }
  .#{$breakpoint}flex-space-between {
    @include justify-content(space-between);
  }

  .#{$breakpoint}flex--0 {
    @include flexbox;
    @include flex-gutter(0);
  }
  .#{$breakpoint}flex-bar--0 {
    @include flexbox;
    @include align-items(center);
    @include flex-gutter(0);
  }
  .#{$breakpoint}flex-center--0 {
    @include flexbox;
    @include justify-content(center);
    @include flex-gutter(0);
  }

  @for $num from 1 through 8 {
    .#{$breakpoint}flex--up-#{$num} {
      @include flexbox;
      @include flex-gutter($num);
    }
    .#{$breakpoint}flex--down-#{$num} {
      @include flexbox;
      @include flex-gutter(-$num);
    }
    .#{$breakpoint}flex-bar--up-#{$num} {
      @include flexbox;
      @include align-items(center);
      @include flex-gutter($num);
    }
    .#{$breakpoint}flex-bar--down-#{$num} {
      @include flexbox;
      @include align-items(center);
      @include flex-gutter(-$num);
    }
    .#{$breakpoint}flex-center--up-#{$num} {
      @include flexbox;
      @include justify-content(center);
      @include flex-gutter($num);
    }
    .#{$breakpoint}flex-center--down-#{$num} {
      @include flexbox;
      @include justify-content(center);
      @include flex-gutter(-$num);
    }
  }
}

@include flexbox-helpers();

/*============================================================================
  #Containers
==============================================================================*/

@mixin containers($breakpoint: "") {
  $padding: $container-padding-x;

  .#{$breakpoint}container-padding {
    padding-left: $padding;
    padding-right: $padding;
  }

  .#{$breakpoint}container-margin-negative-x {
    margin-left: calc(-1 * #{$padding});
    margin-right: calc(-1 * #{$padding});
  }

  @each $container in $containers {
    .#{$breakpoint}container-#{$container} {
      max-width: var(--container-#{$container}-width);
      margin-right: auto;
      margin-left: auto;
      padding-right: $padding;
      padding-left: $padding;
      box-sizing: content-box;
    }

    .#{$breakpoint}container-width-#{$container} {
      max-width: var(--container-#{$container}-width);
    }
  }
}

@include containers();

/*============================================================================
  #Font stacks
==============================================================================*/

@mixin font-stacks($breakpoint: "") {
  @each $font-stack in $font-stacks {
    .#{$breakpoint}font-stack-#{$font-stack} {
      font-family: var(--typography-#{$font-stack}-font-family);
    }
  }
}

@include font-stacks();

/*============================================================================
  #Font weights
==============================================================================*/

@mixin font-weights($breakpoint: "") {
  @each $value in 100, 200, 300, 400, 500, 600, 700, 800, 900, inherit {
    .#{$breakpoint}font-weight-#{$value} {
      font-weight: $value;
    }
  }
}

@include font-weights();

@each $breakpoint in $breakpoints {
  $keyword: nth($breakpoint, 1);
  $media-query: nth($breakpoint, 2);

  @media only screen and #{$media-query} {
    @include font-weights("#{$keyword}--");
  }
}

/*============================================================================
  #Border radiuses
==============================================================================*/

@mixin border-radiuses($breakpoint: "") {
  @each $border-radius in $border-radiuses {
    $key: nth($border-radius, 1);
    $value: nth($border-radius, 2);

    .#{$breakpoint}border-radius-#{$key} {
      border-radius: #{$value};
    }
    .#{$breakpoint}border-radius-#{$key}\! {
      border-radius: #{$value} !important;
    }
  }

  .#{$breakpoint}border-radius--none {
    border-radius: 0;
  }
  .#{$breakpoint}border-radius--none\! {
    border-radius: 0 !important;
  }

  @each $v in top, bottom {
    @each $h in left, right {
      .#{$breakpoint}border-radius-#{$v}-#{$h}--none {
        border-#{$v}-#{$h}-radius: 0;
      }
      .#{$breakpoint}border-radius-#{$v}-#{$h}--none\! {
        border-#{$v}-#{$h}-radius: 0 !important;
      }
    }
  }
}

@include border-radiuses();

@mixin text-transforms($breakpoint: "") {
  .#{$breakpoint}text-transform--buttons {
    text-transform: var(--typography-buttons-text-transform);
  }
}

@include text-transforms();

@each $breakpoint in $breakpoints {
  $keyword: nth($breakpoint, 1);
  $media-query: nth($breakpoint, 2);

  @media only screen and #{$media-query} {
    @include text-transforms("#{$keyword}--");
  }
}

@mixin letter-spacings($breakpoint: "") {
  .#{$breakpoint}letter-spacing--buttons {
    letter-spacing: var(--typography-buttons-letter-spacing);
  }
}

@include letter-spacings();

@each $breakpoint in $breakpoints {
  $keyword: nth($breakpoint, 1);
  $media-query: nth($breakpoint, 2);

  @media only screen and #{$media-query} {
    @include letter-spacings("#{$keyword}--");
  }
}

/*============================================================================
  #Breakpoint inline styles
==============================================================================*/

@mixin breakpoint-inline-styles($breakpoint: "") {
  $properties: (
    width, height, font-size, max-width
  );

  @each $property in $properties {
    [style*=" --#{$breakpoint}#{$property}"] {
      #{$property}: var(--#{$breakpoint}#{$property}) !important;
    }
  }
}

/*! purgecss start ignore */
  @include breakpoint-inline-styles();

  @each $breakpoint in $breakpoints {
    $keyword: nth($breakpoint, 1);
    $media-query: nth($breakpoint, 2);

    @media only screen and #{$media-query} {
      @include breakpoint-inline-styles("#{$keyword}--");
    }
  }
/*! purgecss end ignore */

/*============================================================================
  #Modular scale helpers
==============================================================================*/

@mixin list-inline($num: false) {
  $list-gutter: 0;

  @if $num {
    $list-gutter: var(--spacing--0);

    @if $num > 0 {
      $list-gutter: var(--spacing--up-#{$num});
    }

    @if $num < 0 {
      $list-gutter: var(--spacing--down#{$num});
    }
  }

  margin-bottom: 0;

  > li {
    display: inline-block;
    vertical-align: middle;
  }
  > li:not(:first-child) {
    margin-left: $list-gutter;
  }
}
@mixin list-inline-helpers($breakpoint: "") {
  .#{$breakpoint}list-inline {
    @include list-inline();
  }
  .#{$breakpoint}list-inline--0 {
    @include list-inline(0);
  }
  @for $num from 1 through 7 {
    .#{$breakpoint}list-inline--up-#{$num} {
      @include list-inline($num);
    }
    .#{$breakpoint}list-inline--down-#{$num} {
      @include list-inline(-$num);
    }
  }
}

@mixin position-helpers($breakpoint: "") {
  .#{$breakpoint}position-absolute {
    position: absolute;
  }
  .#{$breakpoint}position-relative {
    position: relative;
  }
  .#{$breakpoint}position-fixed {
    position: fixed;
  }
  .#{$breakpoint}position-static {
    position: static;
  }
  .#{$breakpoint}position-sticky {
    position: -webkit-sticky;
    position: sticky;
  }

  .#{$breakpoint}position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .#{$breakpoint}position-center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .#{$breakpoint}position-center-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .#{$breakpoint}position-full {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  @each $property in top, right, bottom, left {
    .#{$breakpoint}position-#{$property} {
      #{$property}: 0;
    }
    .#{$breakpoint}position-#{$property}--0 {
      #{$property}: var(--spacing--0);
    }
    .#{$breakpoint}position-#{$property}-negative--0 {
      #{$property}: var(--spacing-negative--0);
    }
    .#{$breakpoint}position-#{$property}--full {
      #{$property}: 100%;
    }
    @for $num from 1 through 12 {
      .#{$breakpoint}position-#{$property}--up-#{$num} {
        #{$property}: var(--spacing--up-#{$num});
      }
      .#{$breakpoint}position-#{$property}--down-#{$num} {
        #{$property}: var(--spacing--down-#{$num});
      }
      .#{$breakpoint}position-#{$property}-negative--up-#{$num} {
        #{$property}: var(--spacing-negative--up-#{$num});
      }
      .#{$breakpoint}position-#{$property}-negative--down-#{$num} {
        #{$property}: var(--spacing-negative--down-#{$num});
      }
    }
  }

  @for $n from 1 through 6 {
    .#{$breakpoint}position-#{$n} {
      z-index: $n;
    }
    .#{$breakpoint}position-relative-#{$n} {
      position: relative;
      z-index: $n;
    }
  }

  // Use these classes on parent elements to fix blurriness
  // due to element centered on half of a pixel
  .#{$breakpoint}fix-blurry-text {
    -webkit-perspective: 1000;
  }
  .#{$breakpoint}fix-blurry-elements {
    transform-style: preserve-3d;
  }
}

@mixin padding-helpers($breakpoint: "") {
  .#{$breakpoint}padding--none,
  .#{$breakpoint}last-child-padding--none > :last-child {
    padding: 0;
  }
  .#{$breakpoint}padding--none\! {
    padding: 0 !important;
  }
  .#{$breakpoint}padding--0 {
    padding: var(--spacing--0);
  }
  .#{$breakpoint}padding-top-bottom--0 {
    padding-top: var(--spacing--0);
    padding-bottom: var(--spacing--0);
  }
  .#{$breakpoint}padding-left-right--0 {
    padding-left: var(--spacing--0);
    padding-right: var(--spacing--0);
  }
  @for $num from 1 through 8 {
    .#{$breakpoint}padding--up-#{$num} {
      padding: var(--spacing--up-#{$num});
    }
    .#{$breakpoint}padding--down-#{$num} {
      padding: var(--spacing--down-#{$num});
    }
    .#{$breakpoint}padding-top-bottom--up-#{$num} {
      padding-top: var(--spacing--up-#{$num});
      padding-bottom: var(--spacing--up-#{$num});
    }
    .#{$breakpoint}padding-top-bottom--down-#{$num} {
      padding-top: var(--spacing--down-#{$num});
      padding-bottom: var(--spacing--down-#{$num});
    }
    .#{$breakpoint}padding-left-right--up-#{$num} {
      padding-left: var(--spacing--up-#{$num});
      padding-right: var(--spacing--up-#{$num});
    }
    .#{$breakpoint}padding-left-right--down-#{$num} {
      padding-left: var(--spacing--down-#{$num});
      padding-right: var(--spacing--down-#{$num});
    }
  }
  @each $side in top, right, bottom, left {
    .#{$breakpoint}padding-#{$side}--none {
      padding-#{$side}: 0;
    }
    .#{$breakpoint}padding-#{$side}--0 {
      padding-#{$side}: var(--spacing--0);
    }
    @for $num from 1 through 8 {
      .#{$breakpoint}padding-#{$side}--up-#{$num} {
        padding-#{$side}: var(--spacing--up-#{$num});
      }
      .#{$breakpoint}padding-#{$side}--down-#{$num} {
        padding-#{$side}: var(--spacing--down-#{$num});
      }
    }
  }
}

@mixin margin-helpers($breakpoint: "") {
  .#{$breakpoint}margin--none,
  .#{$breakpoint}last-child-margin--none > :last-child {
    margin: 0;
  }
  .#{$breakpoint}margin--none\!,
  .#{$breakpoint}last-child-margin--none\! > :last-child {
    margin: 0 !important;
  }
  @each $side in top, right, bottom, left {
    .#{$breakpoint}margin-#{$side}--none,
    .#{$breakpoint}last-child-margin-#{$side}--none > :last-child {
      margin-#{$side}: 0;
    }
    .#{$breakpoint}margin-#{$side}--none\!,
    .#{$breakpoint}last-child-margin-#{$side}--none\! > :last-child {
      margin-#{$side}: 0 !important;
    }
    .#{$breakpoint}margin-#{$side}--auto {
      margin-#{$side}: auto;
    }
    .#{$breakpoint}margin-#{$side}--0 {
      margin-#{$side}: var(--spacing--0);
    }
    .#{$breakpoint}margin-#{$side}-negative--0 {
      margin-#{$side}: var(--spacing-negative--0);
    }
    @for $num from 1 through 7 {
      .#{$breakpoint}margin-#{$side}--up-#{$num} {
        margin-#{$side}: var(--spacing--up-#{$num});
      }
      .#{$breakpoint}margin-#{$side}--down-#{$num} {
        margin-#{$side}: var(--spacing--down-#{$num});
      }
      .#{$breakpoint}margin-#{$side}-negative--up-#{$num} {
        margin-#{$side}: var(--spacing-negative--up-#{$num});
      }
      .#{$breakpoint}margin-#{$side}-negative--down-#{$num} {
        margin-#{$side}: var(--spacing-negative--down-#{$num});
      }
    }
  }
}

@mixin font-size-helpers($breakpoint: "") {
  .#{$breakpoint}font-size--none {
    font-size: 0;
    line-height: 1;
  }
  .#{$breakpoint}font-size--0 {
    font-size: var(--font-size--0);
  }
  .#{$breakpoint}font-size--inherit {
    font-size: inherit;
  }
  @for $num from 1 through 6 {
    .#{$breakpoint}font-size--h#{$num} {
      font-size: var(--typography-h#{$num}-font-size);
    }
  }
  .#{$breakpoint}font-size--buttons {
    font-size: var(--typography-buttons-font-size);
  }
  @for $num from 1 through 25 {
    .#{$breakpoint}font-size--up-#{$num} {
      font-size: var(--font-size--up-#{$num});
    }
    .#{$breakpoint}font-size--down-#{$num} {
      font-size: var(--font-size--down-#{$num});
    }
  }
}

@mixin line-height-helpers($breakpoint: "") {
  .#{$breakpoint}line-height--none {
    line-height: 1;
  }
  .#{$breakpoint}line-height--0 {
    line-height: var(--font-size--0);
  }
  .#{$breakpoint}line-height--inherit {
    line-height: inherit;
  }
  @for $num from 1 through 6 {
    .#{$breakpoint}line-height--h#{$num} {
      line-height: var(--typography-h#{$num}-line-height);
    }
  }
  .#{$breakpoint}line-height--buttons {
    line-height: var(--typography-buttons-line-height);
  }
  @for $num from 1 through 30 {
    .#{$breakpoint}line-height--up-#{$num} {
      line-height: var(--font-size--up-#{$num});
    }
    .#{$breakpoint}line-height--down-#{$num} {
      line-height: var(--font-size--down-#{$num});
    }
  }
}

@mixin box-ratio-helpers($breakpoint: "") {

  $ratios: (1,1) (2,1) (3,1) (3,2) (4,3) (16,9) (21,9) (65,22);

  @each $ratio in $ratios {

    $width: nth($ratio,1);
    $height: nth($ratio,2);

    .#{$breakpoint}box-ratio--#{$width}-#{$height} {
      overflow: hidden;
      height: 0;
      width: 100%;
      padding-bottom: percentage($height/$width);
    }
  }

  .#{$breakpoint}box-ratio-inline {
    overflow: hidden;
    height: 0;
    width: 100%;
  }

  .#{$breakpoint}box-ratio-inline\! {
    overflow: hidden !important;
    height: 0 !important;
    width: 100% !important;
  }
}

@mixin color-helpers($breakpoint: "") {
  .#{$breakpoint}text-color-inherit,
  .#{$breakpoint}child-a-text-color-inherit a {
    color: inherit;
  }

  @each $color in $colors {
    .#{$breakpoint}text-color-#{$color},
    .#{$breakpoint}hover-text-color-#{$color}:hover,
    .#{$breakpoint}child-a-text-color-#{$color} a,
    .#{$breakpoint}child-a-hover-text-color-#{$color} a:hover, {
      color: var(--colors-#{$color});
    }
    .#{$breakpoint}box-color-#{$color},
    .#{$breakpoint}hover-box-color-#{$color}:hover {
      background-color: var(--colors-#{$color});
    }
    .#{$breakpoint}border-color-#{$color} {
      border-color: var(--colors-#{$color});
    }
    .#{$breakpoint}placeholder-color-#{$color} {
      @include placeholder {
        color: var(--colors-#{$color});
      }
    }
  }
}

@mixin visibility-helpers($breakpoint: "") {
  .#{$breakpoint}show {
    display: block;
  }
  .#{$breakpoint}show-inline {
    display: inline-block;
  }
  .#{$breakpoint}hide {
    display: none;
  }
  .#{$breakpoint}show\! {
    display: block !important;
  }
  .#{$breakpoint}show-inline\! {
    display: inline-block !important;
  }
  .#{$breakpoint}hide\! {
    display: none !important;
  }
}

@mixin text-align-helpers($breakpoint: "") {
  .#{$breakpoint}text-left {
    text-align: left;
  }
  .#{$breakpoint}text-right {
    text-align: right;
  }
  .#{$breakpoint}text-center {
    text-align: center;
  }
  .#{$breakpoint}text-left\! {
    text-align: left !important;
  }
  .#{$breakpoint}text-right\! {
    text-align: right !important;
  }
  .#{$breakpoint}text-center\! {
    text-align: center !important;
  }
}

@mixin float-helpers($breakpoint: "") {
  .#{$breakpoint}float-left {
    float: left;
  }
  .#{$breakpoint}float-right {
    float: right;
  }
}

@mixin border-helpers($breakpoint: "") {
  .#{$breakpoint}border--none,
  .#{$breakpoint}last-child-border--none > :last-child {
    border: none;
  }

  @each $color in $colors {
    .#{$breakpoint}border-#{$color},
    .#{$breakpoint}hover-border-#{$color}:hover {
      border: 1px solid var(--colors-#{$color});
    }

    .#{$breakpoint}border-#{$color}-double,
    .#{$breakpoint}hover-border-#{$color}-double:hover {
      border: 2px solid var(--colors-#{$color});
    }

    @each $side in top, right, bottom, left {
      .#{$breakpoint}border-#{$side}-#{$color} {
        border-#{$side}: 1px solid var(--colors-#{$color});
      }
      .#{$breakpoint}border-#{$side}-#{$color}-double {
        border-#{$side}: 2px solid var(--colors-#{$color});
      }
      .#{$breakpoint}border-#{$side}--none {
        border-#{$side}: none;
      }
    }

    .#{$breakpoint}border-top-bottom-#{$color} {
      border-top: 1px solid var(--colors-#{$color});
      border-bottom: 1px solid var(--colors-#{$color});
    }
    .#{$breakpoint}border-right-left-#{$color} {
      border-right: 1px solid var(--colors-#{$color});
      border-left: 1px solid var(--colors-#{$color});
    }
  }
}

@include list-inline-helpers();
@include position-helpers();
@include padding-helpers();
@include margin-helpers();
@include font-size-helpers();
@include line-height-helpers();
@include box-ratio-helpers();
@include color-helpers();
@include visibility-helpers();
@include text-align-helpers();
@include float-helpers();
@include border-helpers();

@each $breakpoint in $breakpoints {
  $keyword: nth($breakpoint, 1);
  $media-query: nth($breakpoint, 2);

  @media only screen and #{$media-query} {
    @include grid-helpers("#{$keyword}--");
    @include grid-column-helpers("#{$keyword}--");
    @include flexbox-helpers("#{$keyword}--");
    @include position-helpers("#{$keyword}--");
    @include padding-helpers("#{$keyword}--");
    @include margin-helpers("#{$keyword}--");
    @include font-size-helpers("#{$keyword}--");
    @include line-height-helpers("#{$keyword}--");
    @include box-ratio-helpers("#{$keyword}--");
    @include color-helpers("#{$keyword}--");
    @include visibility-helpers("#{$keyword}--");
    @include text-align-helpers("#{$keyword}--");
    @include float-helpers("#{$keyword}--");
    @include border-helpers("#{$keyword}--");
  }
}
